<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<div class="container-fluid" th:fragment="footer">
    <footer id="footer" class="footer-1">
        <div class="bg-primary text-white d-flex-column ">
            <div class="container">
                <div class="row">

                    <div class="col-xs-12 col-sm-6 col-md-3">
                        <div class="widget  no-box  ">
                            <h5 class="widget-title text-center">Institucional<span></span></h5>
                            <p class="corParagrafo">
                                Since 2021
                            </p>
                            <p class="corParagrafo">
                                RyanLuna.ltda
                            </p>
                            <p class="corParagrafo">
                                Fundador: Ryan
                            </p>


                            <p class="corParagrafo">
                                Rua Paraná número 01
                            </p>
                            <p class="corParagrafo">
                                Cnpj: 60.915.378/0001-47
                            </p>
                        </div>
                    </div>


                    <div class="col-xs-12 col-sm-6 col-md-3">
                        <div class="widget no-box">
                            <h5 class="widget-title text-center">Dúvidas/ Ajuda<span></span></h5>
                            <p class="corParagrafo">
                                15-998429504
                            </p>
                            <p class="corParagrafo">
                                Suporte via Anydesk
                            </p>
                            <p class="corParagrafo">
                                ryanflix@gmail.com
                            </p>


                        </div>
                    </div>



                    <div class="col-xs-12 col-sm-6 col-md-3">
                        <div class="widget no-box  text-center">

                            Visão
                            <p class="corParagrafo">
                                Ser referencia nacional, gerando empregos e ajudando a todos.
                            </p>
                            Valor
                            <p class="corParagrafo">
                                Respeito, Ética, Inclusão social e Responsabilidade legal.
                            </p>
                        </div>
                    </div>



                    <div class="col-xs-12 col-sm-6 col-md-3">
                        <div class="widget no-box ">
                            <h5 class="widget-title text-center"> Redes Sociais<span></span></h5>
                            <div style=" text-align: center;">
                                <button type="submit" class="btn btn-outline-secondary"><i
                                        class="fa fa-instagram"></i></i></button>
                                <button type="submit" class="btn btn-outline-secondary"><i
                                        class="fa fa-facebook-square"></i></button>
                                <button type="submit" class="btn btn-outline-secondary"><i
                                        class="fa fa-linkedin-square"></i></i></button>
                                <button type="submit" class="btn btn-outline-secondary"><i
                                        class="fa fa-youtube-square"></i></i></button>
                                <button type="submit" class="btn btn-outline-secondary"><i
                                        class="fa  fa-envelope-o"></i></i></button>
                            </div>
                            <h5 class="widget-title text-center"> Formas de pagamento<span></span></h5>

                            <img class="img-fluid" alt="Imagem_formapagament"
                                 src="https://cdn.awsli.com.br/1063/1063959/arquivos/bannerpagpagarme.png">
                        </div>
                    </div>


                </div>
            </div>



        </div>





        <div class="footer-copyright">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 text-center">
                        <p style="padding-top: 10px;"> Ryanflix 2021 | Todos os direitos reservados. Pato Branco
                            - PR (2021).</p>
                    </div>
                </div>
            </div>
        </div>
    </footer>
</div>

</html>