
.produtos-imagem{
    width: 300px;
    height: 300px;
    margin: 10px;
}


.produtos-titulo {
    color: blue;
    font-family: Impact, fantasy;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: white;
    font-size: 30px;
}

.produtos-preco {

    margin-left: 60px;
    font-size: 30px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}



.corFundoProduto {
    background: silver;
}


.produtos {
    margin: 0 auto;
    padding: 20px 0;
}

.produtos li {
    displaY: inline-block;
    text-align: center;
    vertical-align: top;
    margin: 0 1.5%;
    padding: 30px 15px;
    box-sizing: border-box;
    border: 2px solid #000000;
    border-radius: 10px;
}

.produtos li:hover {
    border-color: blue;
}

.produtos li:active {
    border-color: lightskyblue;
}


.produtos li:hover h3 {
    font-size: 30px;
}

.produtos h3 {
    font-size: 25px;
}

.produtos-descricao {
    font-size: 10px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', fantasy;
}

.produtos-preco {
    font-size: 50px;
    font-family: Marker Felt, fantasy;
    margin-top: 10px;
}

.estrelas input[type=radio] {
    display: none;
}

.estrelas label i.fa {
    font-size: 2.5em;
}

.estrelas label i.fa:before {
    content: '\f005';
    color: #FC0;
}

.estrelas input[type=radio]:checked~label i.fa:before {
    color: #CCC;
}

.tambanner {
    max-height: 600px;
}
