
.imagem-produto {
    width: 150px;
    height: 100px;
    margin: 10px;
}

.nome-produto {
    color: blue;
    font-size: 30px;
}

.preco-produto {
    color: black;
    margin-left: 100px;
    font-size: 40px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.produto {
    max-width: 400px;
}


.corFundoProduto {
    background: silver;
}


.produtos {
    margin: 0 auto;
    padding: 20px 0;
}

.produtos li {
    displaY: inline-block;
    text-align: center;
    vertical-align: top;
    margin: 0 1.5%;
    padding: 30px 15px;
    box-sizing: border-box;
    border: 2px solid #000000;
    border-radius: 10px;
}

.produtos li:hover {
    border-color: blue;
}

.produtos li:active {
    border-color: lightskyblue;
}

.produtos-titulo {
    color: blue;
    font-family: Impact, fantasy;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: white;
    font-size: 30px;
}

.produtos li:hover h3 {
    font-size: 30px;
}

.produtos h3 {
    font-size: 25px;
}

.produtos-descricao {
    font-size: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', fantasy;
}

.produtos-preco {
    font-size: 50px;
    font-family: Marker Felt, fantasy;
    margin-top: 10px;
}
