<!DOCTYPE html>
<html lang="pt"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout-padrao}"><!-- CSS only -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
<link rel="stylesheet" th:href="@{/css/produtos.css}"/>

<body>
<section layout:fragment="conteudo">

    <link rel="stylesheet" th:href="@{/css/bootstrap.css}"/>
    <link rel="stylesheet" th:href="@{/css/meucss.css}"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
            crossorigin="anonymous"></script>
    <div class="row " style="margin-top:200px;">
        <h2 style="color: blue; text-align: center;">Histórico de compras!!!</h2>
        <table style=" min-height: 10em;
    display: table-cell;
    vertical-align: middle" class="table table-striped table-responsive table-responsive">
            <thead>
            <tr class="table-status">
                <th>Código</th>
                <th>Data de Compra</th>
                <th>Forma de pagamento</th>
                <th>Cliente</th>

            </tr>
            </thead>
            <tbody style="margin: 0 auto;">
            <tr th:each="venda : ${listaVenda}" >
                <td><a th:href="@{/venda/{id}(id=${venda.id})}" th:text="${venda.id}"></a></td>
                <td th:text="${venda.data}"></td>
                <td th:text="${venda.tipo_pagamento}"></td>
                <td th:text="${venda.getUsuario().getUsername()}"></td>

            </tr>
            </tbody>
        </table>
    </div>


    <link rel="stylesheet" th:href="@{/js/principal.js}"/>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
            crossorigin="anonymous"></script>
    <link rel="stylesheet" th:href="@{/css/produtos.css}"/>
</section>
</body>
</html>