<!DOCTYPE html>
<html lang="pt"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout-padrao}">


<section layout:fragment="conteudo">

<div class="container-fluid">
    <div class="form aumento login bloquear_campos">


        <ul id="mensagemErro">
        </ul>


        <form id="form-dados" method="post">
            <h2 style="text-align: center; color:blue; "><strong>Meus dados</strong></h2>
            <div class="pessoal">

                <legend style="font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;">
                    <h2><b>Dados pessoais</b></h2>
                </legend>
                <div class="row">
                    <div class="col">

                        <input class="form-control" type="text" name="nome" id="nome" placeholder="Nome" disabled />
                    </div>

                    <div class="col">

                        <input id="cpf" type="text" name="cpf" class="form-control" disabled
                               placeholder="CPF (EX: 00.000.000-00)" />

                    </div>

                    <div class="col">


                        <input class="form-control" type="text" id="username" name="username"
                               placeholder="Username"/>
                    </div>

                </div>


                <div class="row">

                    <div class="col">


                        <input class="form-control" type="text" id="tel" name="tel" placeholder="Telefone, ex: (99)9999-9999"
                               disabled />
                    </div>


                </div>



            </div>
            <legend style="font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;">
                <h2><b>Endereço</b></h2>
            </legend>
            <div class="endereco">
                <div class="row">
                    <div class="col">

                        <input class="form-control" id="cep" name="cep" type="text" placeholder="Cep" disabled />

                    </div>

                    <div class="col">

                        <input class="form-control" id="cidade" name="cidade" type="text" placeholder="Cidade" disabled />
                    </div>

                    <div class="col">

                        <select class="form-control" id="uf" placeholder="Uf" style="height
                                : 51px" disabled>

                            <option value="1">PR</option>
                            <option value="2">SP</option>
                            <option value="2">SC</option>

                        </select>

                    </div>
                </div>

                <div class="row">
                    <div class="col">

                        <input class="form-control" id="bairro" name="bairro" type="text" placeholder="Bairro" disabled />

                    </div>

                    <div class="col">

                        <input class="form-control" id="rua" name="rua" type="text" placeholder="Rua" disabled />
                    </div>

                    <div class="col">

                        <input class="form-control" id="numero" name="numero" type="text" placeholder="Numero" disabled />

                    </div>
                </div>

            </div>



            <div>
                <legend style="font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;">
                    <h2><b>Login</b></h2>
                </legend>
                <div class="row">
                    <div class="col">

                        <div class="login">

                            <label for="email">Email</label>
                            <input type="email" id="email" class="form-control" placeholder="Ryan@email.com" disabled>
                        </div>
                    </div>


                </div>


                <div>

                    <a th:href="@{/}" class="btn btn-primary">Voltar para as compras <i class="fa fa-cart-plus"></i></a>


                </div>
            </div>
        </form>


    </div>



</div>


    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <link rel="stylesheet" th:href="@{/css/bootstrap.css}"/>
    <link rel="stylesheet" th:href="@{/css/meucss.css}"/>

    <script src="js/jquery-3.1.0.min.js" type="text/javascript"></script>
    <script src="http://ajax.microsoft.com/ajax/jquery.validate/1.7/jquery.validate.js" type="text/javascript"></script>
    <script type="text/javascript" src="js/jquery.maskedinput.js"></script>
    <script src="js/cadastrarse.js"></script>
    <script src="bootstrap4/js/bootstrap.js" type="text/javascript" charset="utf-8" async defer></script>
    <script src="js/validaJS.js"></script>


<script src="http://ajax.microsoft.com/ajax/jquery.validate/1.7/jquery.validate.js" type="text/javascript"></script>
</section>
</body>
</html>

